header {
  width: 100%;
  background-color: $blue-color-1;
  color: $white;
  padding: 1em;
}
h1 {
  max-width: 50%;
  margin: 0 auto;
  text-align: center;
  @media #{$mobL} {
    font-size: 1.2em;
  }
}
