.movie-card {
  width: 300px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  }
  &__image {
    min-height: 500px;
    border-bottom: 1px solid #ddd;
    object-fit: cover;
    cursor: pointer;
  }
  &__info {
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    h3 {
      font-size: 1.2em;
      color: $blue-color-1;
    }
    p {
      font-size: 0.9em;
      color: $gray-color-2;
    }
  }
}

.button-container {
  margin-top: auto;
  button {
    background-color: $blue-color-1;
    color: $white;
    border: none;
    padding: 0.5em 1em;
    font-size: 0.9em;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    &:hover {
      background-color: $blue-color-2;
    }
  }
}
