body {
  background-color: $white;
  font-family: Nunito;
  font-size: 16px;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5em;
  padding: 1em;
  justify-items: center;
  @media #{$ipadpro} {
    justify-items: center;
  }
  @media #{$mobL} {
    justify-items: center;
  }
}

.error-h3 {
  text-align: center;
}
